<%= link_to cart_path do %>
<span class="fa fa-shopping-cart my-cart-icon"> <%= number_to_currency(current_order.subtotal, :unit => "Ksh ", :separator => ".", :delimiter => ",")  %> <span class="badge badge-notify my-cart-badge"><%= current_order.order_items.size %></span></span>
<% end %>
