<!-- banner -->
<div class="banner">
  <div class="container">
    <h3>Welcome to <span><%= @store.name %></span></h3>
  </div>
</div>
<!-- //banner -->

<!-- new-products -->
<div class="new-products">
  <div class="container">
    <h3>Our Products</h3>
    <div class="agileinfo_new_products_grids">
      <div class="col-md-4 agileinfo_new_products_grid">
        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
          <div class="hs-wrapper hs-wrapper1">
            <img src="/images/electronic/25.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/23.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/24.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/22.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/26.jpg" alt=" " class="img-responsive" />
            <div class="w3_hs_bottom w3_hs_bottom_sub">
              <ul>
                <li>
                  <a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <h5><a href="single.html">Laptops</a></h5>
          <div class="simpleCart_shelfItem">
            <p><span>$520</span> <i class="item_price">$500</i></p>
            <form action="#" method="post">
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1">
              <input type="hidden" name="w3ls_item" value="Red Laptop">
              <input type="hidden" name="amount" value="500.00">
              <button type="submit" class="w3ls-cart">Add to cart</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 agileinfo_new_products_grid">
        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
          <div class="hs-wrapper hs-wrapper1">
            <img src="/images/electronic/27.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/28.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/29.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/30.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/31.jpg" alt=" " class="img-responsive" />
            <div class="w3_hs_bottom w3_hs_bottom_sub">
              <ul>
                <li>
                  <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <h5><a href="single.html">Black Phone</a></h5>
          <div class="simpleCart_shelfItem">
            <p><span>$380</span> <i class="item_price">$370</i></p>
            <form action="#" method="post">
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1">
              <input type="hidden" name="w3ls_item" value="Black Phone">
              <input type="hidden" name="amount" value="370.00">
              <button type="submit" class="w3ls-cart">Add to cart</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 agileinfo_new_products_grid">
        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
          <div class="hs-wrapper hs-wrapper1">
            <img src="/images/electronic/34.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/33.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/32.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/35.jpg" alt=" " class="img-responsive" />
            <img src="/images/electronic/36.jpg" alt=" " class="img-responsive" />
            <div class="w3_hs_bottom w3_hs_bottom_sub">
              <ul>
                <li>
                  <a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <h5><a href="single.html">Kids Toy</a></h5>
          <div class="simpleCart_shelfItem">
            <p><span>$150</span> <i class="item_price">$100</i></p>
            <form action="#" method="post">
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1">
              <input type="hidden" name="w3ls_item" value="Kids Toy">
              <input type="hidden" name="amount" value="100.00">
              <button type="submit" class="w3ls-cart">Add to cart</button>
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //new-products -->
