<!-- navigation -->
<div class="navigation">
  <div class="container">
    <nav class="navbar navbar-default" style="text-align:center">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li><a href="<%= root_path %>" class="act"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="<%= about_path %>">About Us</a></li>
          <!-- Mega Menu -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="col-sm-3">
                  <ul class="multi-column-dropdown">
                    <h6>Mobiles</h6>
                    <li><a href="products.html">Mobile Phones</a></li>
                    <li><a href="products.html">Mp3 Players <span>New</span></a></li>
                    <li><a href="products.html">Popular Models</a></li>
                    <li><a href="products.html">All Tablets<span>New</span></a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="multi-column-dropdown">
                    <h6>Accessories</h6>
                    <li><a href="products1.html">Laptop</a></li>
                    <li><a href="products1.html">Desktop</a></li>
                    <li><a href="products1.html">Wearables <span>New</span></a></li>
                    <li><a href="products1.html"><i>Summer Store</i></a></li>
                  </ul>
                </div>
                <div class="col-sm-2">
                  <ul class="multi-column-dropdown">
                    <h6>Home</h6>
                    <li><a href="products2.html">Tv</a></li>
                    <li><a href="products2.html">Camera</a></li>
                    <li><a href="products2.html">AC</a></li>
                    <li><a href="products2.html">Grinders</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <div class="w3ls_products_pos">
                    <h4>30%<i>Off/-</i></h4>
                    <img src="/images/electronic/1.jpg" alt=" " class="img-responsive" />
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </ul>
          </li>
          <li><a href="<%= contact_path %>">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- //navigation -->
