<div class="col-md-4 agileinfo_new_products_grid">
  <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
    <div class="hs-wrapper hs-wrapper1">
      <img src="/images/electronic/25.jpg" alt=" " class="img-responsive" />
      <img src="/images/electronic/23.jpg" alt=" " class="img-responsive" />
      <img src="/images/electronic/24.jpg" alt=" " class="img-responsive" />
      <img src="/images/electronic/22.jpg" alt=" " class="img-responsive" />
      <img src="/images/electronic/26.jpg" alt=" " class="img-responsive" />
      <div class="w3_hs_bottom w3_hs_bottom_sub">
        <ul>
          <li>
            <a href="<%= product_view_path(product.sku)%>" ><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <h5><a href="<%= product_view_path(product.sku)%>">Laptops</a></h5>
    <div class="simpleCart_shelfItem">
      <p><i class="item_price">Kes. <%= number_to_currency product.price %></i></p>
        <button type="submit" class="w3ls-cart">Add to cart</button>
    </div>
  </div>
</div>
