<p id="notice"><%= notice %></p>

<h1>Ipns</h1>
<% columns = @ipns.column_names %>
<table id="ipnTable" class="table">
  <thead>
  <tr>
    <% columns.each do |c| %>
      <th><%= c %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @ipns.each do |ipn| %>
    <tr>
      <% columns.each do |c| %>
        <td><%=  ipn[c] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

