<% @transactions = Itransaction.where(store_id: current_store.id).limit(10).order('created_at desc') %>
<h3 style="color:#7aae42;">Transaction History</h3><br>
<div class="bs-example1" data-example-id="contextual-table" style="overflow-x:scroll">
  <% columns = @transactions.column_names %>
  <table id="myHistoryTable" class="table">
    <thead>
    <tr>

      <% columns.each do |c| %>
        <th><%= c %></th>
      <% end %>

    </tr>
    </thead>

    <tbody>
    <% @transactions.each do |ipn| %>
      <tr>
        <% columns.each do |c| %>
          <td><%=  ipn[c] rescue nil %></td>
        <% end %>

      </tr>
    <% end %>
    </tbody>
  </table>
 </div>

<div class="form-group">
    <a href="<%= stores_transactions_path %>"><button class="kd_buttons"><i class="fa fa-eye"></i> View Full History</button></a>
</div>
