<div class="content_bottom" style="margin-top:2em">

<h3 style="color:#7aae42"><i class="fa fa-check"></i> Activation Settings</h3>
<div class="xs"><br>

  <% if @store.active == false %>
      <h4 style="text-align:left"> Click the Button Below to De-Activate your store </h4>
      <%= form_for :store, :url => {controller: 'stores', action: 'activate'} do |f| %>
          <% if @store.important == false  %>
                <button type="submit" class="kd_buttons" disabled="disabled"><i class="fa fa-check"></i> Activate Store Now</button>
          <% else %>
                <button type="submit" class="kd_buttons"><i class="fa fa-check"></i> Activate Store Now</button>
          <% end %>
      <% end %>
  <% else %>
      <h4 style="text-align:left"> Click the Button Below to De-Activate your store </h4>
      <%= form_for :store, :url => {controller: 'stores', action: 'deactivate'} do |f| %>
            <button type="submit" class="kd_buttons" style="background:#d9534f !important;color:#fff" ><i class="fa fa-close"></i> Deactivate Store Now</button>
      <% end %>
  <% end %>
     </div>
   </div>
<br><br><br><br><br><br><br><br><br>
<div class="clearfix"> </div>
