<style>
  .our_pricing h4 {
    background: #7aae42;
    color: #fff;
    width: 100%;
    height: 3em;
    padding-top: 0.7em;
    font-size: 1.6em;
    margin: 0 0 1em;
    margin-bottom: 1em;
    text-transform: capitalize;
    text-align: center;
  }
  .pricing_shadow {
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    min-height: 12em;
    background: rgba(204,204,204,0.7);
    margin-bottom: 2em;
    transition: all 0.5s;
    text-align: center;
    font-weight: bold;
  }
  .pricing_shadow:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }
</style>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="content_bottom" style="margin-top:2em">
  <% if @store.premium %>
    <h3 class="text-center" style="color:#7aae42"></i>You are currently on our premium plan until <%= @store.premiumexpiry %></h3>

    <div class="clearfix"> </div>
  <% else %>

    <h3 class="text-center" style="color:#7aae42"></i> You are currently on the free plan.</h3>
      <p></p><br>
    <div class="our_pricing" id="pricing">
      <h3><span style="color:#7aae42">Our Pricing</span></h3>
      <div class="container">
        <div class="col-md-4">
          <div class="pricing_shadow">
            <h4>Yearly</h4>
            <h3>KSH 4500</h3>
            <h3>Save 10%</h3>
            <br>
            <button id="up1" data-toggle="modal" data-target="#yearly_modal" type="submit" class="kd_buttons" style="background-color: #7aae42 !important;color: #fff !important;">Upgrade</button></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing_shadow">
            <h4>Bi-Annual</h4>
            <h3>KSH 2395</h3>
            <h3>Save 5%</h3>
            <br>
            <button id="up2" data-toggle="modal" data-target="#bi_modal" type="submit" class="kd_buttons" style="background-color: #7aae42 !important;color: #fff !important;">Upgrade</button></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing_shadow">
            <h4>Monthly</h4>
            <h3>KSH 420</h3>
            <h3>Monthly Payment</h3>
            <br>
            <button id="up3" data-toggle="modal" data-target="#monthly_modal" type="submit" class="kd_buttons" style="background-color: #7aae42 !important;color: #fff !important;">Upgrade</button></h3>
          </div>
        </div>


      </div>
    </div>

  <% end %>
</div>
<div id="yearly_modal" style="max-width:100% !important" class="modal fade light-box" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="bi_modal" style="max-width:100% !important" class="modal fade light-box" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="monthly_modal" style="max-width:100% !important" class="modal fade light-box" tabindex="-1" role="dialog" aria-hidden="true"></div>