<% @transactions = Itransaction.where(store_id: current_store.id).order('created_at desc') %>
<h3 style="color:#7aae42;">Transaction History</h3><br>
<div class="bs-example1" data-example-id="contextual-table" style="overflow-x:scroll">
  <% columns = @transactions.column_names %>
  <% columns.delete('balance_as_of_now') %>
  <table id="myHistoryTable" class="table">
    <thead>
    <tr>

      <% columns.each do |c| %>
        <th><%= c %></th>
      <% end %>

    </tr>
    </thead>

    <tbody>
    <% @transactions.each do |ipn| %>
      <tr>
        <% columns.each do |c| %>
          <td><%=  ipn[c] rescue nil %></td>
        <% end %>

      </tr>
    <% end %>
    </tbody>
  </table>
 </div><br>
 <div class="clearfix"></div>
