<% if @status  %>
$("#change_shipping_status").attr('disabled', 'disabled');
$("#change_shipping_status").html('Shipping')
$(".ship_err").html('<p style="color: green">Status changed to shipping. Customer has been notified</p>');
<% else %>
$(".ship_err").html('<p style="color: red">Something went wrong, Try again</p>');
<% end  %>