<title><%= @store.name %> | <%= @title %></title>
<!--breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="<%= root_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li>About</li>
    </ol>
  </div>
</div><br><br>
<!--breadcrumbs-->
<div class="container">
<h1 style="text-align:center">A few words about Us</h1><br>
<p style="text-align:justify"><%= @store.aboutpage_text.html_safe rescue nil %></p>
</div>
