<!DOCTYPE HTML>
<html>
<head>
  <title>KDuka - Page not found</title>
  <!-- Custom Theme files -->
  <% Dir.foreach("public/stylesheets/404") do |item|
    next if item == '.' or item == '..' %>
      <%= stylesheet_link_tag "404/#{item}" %>
      <script src="https://use.fontawesome.com/0c894d70a3.js"></script>
  <% end %>

  <!-- Custom Theme files -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="KDuka - Not Found" />
  <!--Google Fonts-->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!--Google Fonts-->
</head>
<body>
<!--404 page start here-->
<div class="not-found">
  <div class="notfound-top">
    <h1>404</h1>
  </div>
  <div class="content">
    <a href="http://www.kduka.co.ke"> <%= image_tag("website/logo.png") %><P>BACK TO WEBSITE</P> </a>
    <h3>We couldn't find the page you are looking for.</h3>
    <ul class="social-icon">
      <li><a class="kd_color" href="https://www.facebook.com/kdukaofficial"><i class="fa fa-facebook"></i> </a></li>
      <li><a class="kd_color" href="https://www.twitter.com/kdukaofficial"> <i class="fa fa-twitter"></i></a></li>
      <li><a class="kd_color" href="https://www.linkedin.com/kdukaofficial"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="kd_color" href="https://www.youtube.com/channel/UCEyFqiq327T0QjP4vutju4g"><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>
  <style> .kd_color{color: #7aae42 !important} </style>
  <div class="clear"> </div>
</div>
<div class="copyright">
  <p style="color:#000">© <%= Time.current.year %> KDuka. All rights reserved</p>
</div>
<!--404 page end here-->
</body>
</html>
