<style>
  html {
    margin:0;
    background: #333;
    font-family: helvetica;
    max-width:1920px;
  }

  body {
    margin: 0;
  }

  #exampleText1 {
    display: hidden;
  }

  .container {

    width: 1005px;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
  }

  h1 {
    margin: 0;
    color:#bbb;
    font-size:1.85em;
  }

  .examples {
    text-align: center;
    margin-left:15px;
  }

  .image:hover {
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    opacity: .9;
  }

  .image {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    padding: 15px;
    margin:auto;

  }

  /*#example1:hover {
     opacity: .1;
  }*/

  span.text-content {

    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 280px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
  }

  span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  ul.img-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  ul.img-list li {
    display: inline-block;
    height: 150px;
    margin: 0 1em 1em 0;
    position: relative;
    width: 280px;
  }

  ul.img-list li:hover span.text-content {
    opacity: 1;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  a:link {
    text-decoration: none;
  }

  .banner{
    text-align:center;
    font-weight:800;
    padding-bottom:80px;
  }
  .sectionTitle{
    padding-left:40px;
    border-bottom:2px solid rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
  }
  li.image{
    margin:auto;
  }

  .sidenav {
    display: none;
    height: 400px;
    width: 100%;

    z-index: 6;
    top: 306px;
    position:relative;
    color:#eee;
    left:0;
    position:absolute;
    background: #555;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #bbb;
    display: block;
    transition: 0.3s
  }

  .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  header{

    width:100%;
    padding-left:25%;
    background:#222;
    color:red;
    height:40px;
    padding-top:10px;
    font-weight: 700;
    font-size:1.5em;
  }
  p{
    margin:0;
  }
  #row2{
    position:relative;
  }
</style>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.display = "block";
        document.getElementById("box1").style.top = "400px";
        document.getElementById("box1").style.border = "1px solid #fff";
        document.getElementById("box1").style.transform = "scale(1)";
        document.getElementById("row").style.height = "800px";

        // document.getElementById("box1").style.display = "block";

    }

    function closeNav() {
        document.getElementById("mySidenav").style.display = "none";
        document.getElementById("box1").style.transform = "scale(1)";
        document.getElementById("box1").style.transition = "all 0.7s ease";
        document.getElementById("box1").style.border = "none";
    }
</script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<header>
  <p>NETFLIX</p>
</header>
<div class="container">

  <section id="row1">
    <h1 class="sectionTitle">Continue Watching for Username</h1>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Movie 1</a>

    </div>

    <div class="examples">
      <ul class="img-list">
        <li class="image">
          <a href="#">
            <img id="box1" src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" onclick="openNav()" aria-hidden="true"></i></span></span>
          </a>
        </li>


        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
          </a>
        </li>

        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
          </a>
        </li>

      </ul>

    </div>

  </section>

  <section id="row2">
    <h1 class="sectionTitle">TV Shows</h1>
    <div class="examples">
      <ul class="img-list">
        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
          </a>
        </li>

        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
          </a>
        </li>

        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
          </a>
        </li>

      </ul>
    </div>
  </section>
  <h1 class="sectionTitle">Row 3</h1>
  <div class="examples">
    <ul class="img-list">
      <li class="image">
        <a href="#">
          <img src="http://placehold.it/280x150" width="280" height="150" />
          <span class="text-content"><i class="fa fa-chevron-up" aria-hidden="true"></i><br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br>Title Here...</span></span>
        </a>
      </li>

      <li class="image">
        <a href="#">
          <img src="http://placehold.it/280x150" width="280" height="150" />
          <span class="text-content"><i class="fa fa-chevron-up" aria-hidden="true"></i><br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br>Title Here...</span></span>
        </a>
      </li>

      <li class="image">
        <a href="#">
          <img src="http://placehold.it/280x150" width="280" height="150" />
          <span class="text-content"><i class="fa fa-chevron-up" aria-hidden="true"></i><br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br>Title Here...</span></span>
        </a>
      </li>

    </ul>
  </div>
</div>
