<!--breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="<%= root_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">About</li>
    </ol>
  </div>
</div><br><br>
<!--breadcrumbs-->
<div class="container">
<h1 style="text-align:center">A few words about Us</h1><br>
<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, justo ac tristique ultrices, libero quam vestibulum lacus, ut facilisis enim dolor ac risus. Integer condimentum nunc velit. Curabitur dapibus, eros quis sollicitudin pharetra, ipsum ex tincidunt nisi, vel finibus purus augue cursus felis. Maecenas eget ex vestibulum, cursus urna vitae, eleifend velit. Aliquam tincidunt purus eget nibh ultrices euismod. Etiam aliquet nisi eget tortor suscipit hendrerit. Cras dignissim a libero ut consectetur. Suspendisse id orci quam. Aliquam placerat neque ac tempus rhoncus. Suspendisse vel vulputate nisl.

Nunc tempor orci neque, nec porta dolor ornare id. Etiam vel tellus diam. Sed massa leo, consectetur ut faucibus ut, interdum sed ipsum. Vestibulum tristique elit nibh, quis dapibus nulla porttitor et. Duis varius sem libero, finibus cursus nisl lacinia eu. Nam vitae sem eu purus mollis volutpat. Nullam aliquet ut lacus id tincidunt. Fusce sit amet leo nec sapien porttitor sollicitudin non id turpis. Sed suscipit justo quam, sit amet consequat ante sollicitudin vitae. Suspendisse at feugiat dolor. Aenean efficitur, nibh id laoreet tristique, leo mauris rhoncus leo, id vestibulum mi metus id risus.

Aenean scelerisque augue mi, vel faucibus turpis aliquam eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Nunc vestibulum viverra tellus vitae elementum. Sed mattis purus feugiat, porttitor neque ut, dictum sem. Nam bibendum, mauris ut sagittis gravida, quam enim sodales lectus, ut accumsan quam ante et velit. Aenean mi nibh, consequat vel tortor at, eleifend placerat orci. Praesent id vulputate massa, ac blandit urna. Aliquam erat volutpat. Fusce congue metus eu maximus sagittis. Duis in commodo elit.</p>
</div>
