<span class='simpleCart_total'> <%= number_to_currency(current_order.subtotal, :unit => "Ksh ", :separator => ".", :delimiter => ",") %> </span> (<span id='simpleCart_quantity' class='simpleCart_quantity'> <%= current_order.order_items.size %> </span>)
