

<% if @store.collection_point_status == true %>
    <div class="form-group">
      <label>Collection Point</label>
      <input id="locate" type="textbox" value="" class='form-control' placeholder='Delivery Location'/>
      <span style="color:green;" class="price"></span>
    </div>
    <p></p>
<% end %>

