<div class="banner">
</div><br><br>
<h1 style="text-align:center">Our Poducts</h1><br><br>
<div class="container">
<div class="col-md-4 col-sm-12">
  <div style="width:100% !important" class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
    <div class="new-top">
      <a href="single.html"><img src="images/g1.jpg" class="img-responsive" alt=""/></a>
      <div class="new-text">
        <ul>
          <li><a href="single.html">Quick View </a></li>
          <li><input type="number" class="item_quantity" min="1" value="1"></li>
          <li><a class="item_add" href=""> Add to cart</a></li>
        </ul>
      </div>
    </div>
    <div class="new-bottom">
      <h5><a class="name" href="single.html">Girl Dress </a></h5>
      <div class="rating">
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span>☆</span>
      </div>
      <div class="ofr">
        <p class="pric1"><del>$2000.00</del></p>
        <p><span class="item_price">$500.00</span></p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-12">
  <div style="width:100% !important" class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
    <div class="new-top">
      <a href="single.html"><img src="images/g1.jpg" class="img-responsive" alt=""/></a>
      <div class="new-text">
        <ul>
          <li><a href="single.html">Quick View </a></li>
          <li><input type="number" class="item_quantity" min="1" value="1"></li>
          <li><a class="item_add" href=""> Add to cart</a></li>
        </ul>
      </div>
    </div>
    <div class="new-bottom">
      <h5><a class="name" href="single.html">Girl Dress </a></h5>
      <div class="rating">
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span>☆</span>
      </div>
      <div class="ofr">
        <p class="pric1"><del>$2000.00</del></p>
        <p><span class="item_price">$500.00</span></p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-12">
  <div style="width:100% !important" class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
    <div class="new-top">
      <a href="single.html"><img src="images/g1.jpg" class="img-responsive" alt=""/></a>
      <div class="new-text">
        <ul>
          <li><a href="single.html">Quick View </a></li>
          <li><input type="number" class="item_quantity" min="1" value="1"></li>
          <li><a class="item_add" href=""> Add to cart</a></li>
        </ul>
      </div>
    </div>
    <div class="new-bottom">
      <h5><a class="name" href="single.html">Girl Dress </a></h5>
      <div class="rating">
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span>☆</span>
      </div>
      <div class="ofr">
        <p class="pric1"><del>$2000.00</del></p>
        <p><span class="item_price">$500.00</span></p>
      </div>
    </div>
  </div>
</div><br><br>
<a href="#" class="col-md-4 col-md-offset-4 col-sm-12 btn btn-default">View More</a>
</div>
