<div class="col-md-6 col-md-offset-3">
<h1>New Category</h1>
  <p><h4>Create a category to group your products. Every product must be in a category</h4></p>

<%= render 'new', category: @category %>

</div>
