<title><%= @store.name %> | <%= @title %></title>

      <div class="container-fluid">
      <div style="margin-top:3em;margin-bottom:3em;color: green" class="text-center col-md-6 col-md-offset-3 col-xs-12">
      <h1><strong>Success!</strong></h1>
      <p></p><br><br>
      <h3>Your Order has been placed successfully, it will be shortly approved. Check your email for confirmation of payment and order details</h3>
      </div>
      </div>
    <div class="clearfix"></div>
