$(".var_opt_err").html("<span style='color:green;'><%= @name.humanize %> added!</span>");
$(".del_opts").html("<%= escape_javascript(render "temp_variants") %>")
$(".scripter").html("<%= escape_javascript(render "scripter") %>")
