<div class="row">
	<div class="col-md-12">
		<div class="breadcrumbs">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li>
					<a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
				</li>
				<li class="active">
					Products
				</li>
			</ol>
		</div>
	</div>
	<% if @products.blank? %>
	<p style="margin-top: 10em;text-align: center;font-size: 20px;color: #ff590f;">
		This Category has no Active Products at the Moment
	</p>
	<%else%>
	<% @products.each do |product| %>
	<%= render "product1", product: product, order_item: @order_item %>
	<% end %>
	<% end %>

</div>