<div class="content_bottom" style="margin-top:2em">

<h3 style="color:#7aae42"><i class="fa fa-plus"></i> Add Product</h3>
<div class="xs">
     <div class="tab-pane active" id="horizontal-form">
       <%= render 'form' %>
     </div>
</div>

<div class="clearfix"> </div>
  </div>

<div class="scripter"></div>