<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>This is from <%= @name %> </h1>(<%= @email %>)
<p>
  <%= @message %>


  <h5>Reply to this email to message them back</h5>
  
</p>
</body>
</html>