<div class="content_bottom" style="margin-top:2em">
<h3 style="color:#7aae42"><i class="fa fa-plus"></i> New Layout</h3>
 <div class="col-md-12 span_3">
   <div class="col_2">
    <%= render 'form', layout: @layout %>
    <div class="clearfix"></div>
   </div>
  </div>
</div>
<div class="clearfix"></div>
